<manifest package="com.siberiadante.lib">

    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>&ndash;&gt;-->
    <!--<application-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true">-->
    <!--</application>-->
</manifest>
