<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siberiadante.utilsample">

    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".UtilSampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SwipeBackTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.siberiadante.utilsample.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.HomeMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".activity.util.SDActivityUtilActivity" />
        <!-- <activity android:name=".util.AppActivity" /> -->
        <!-- <activity android:name=".util.BitmapUtilActivity" /> -->
        <!-- <activity android:name=".util.DateUtilActivity" /> -->
        <!-- <activity android:name=".util.EncryptionActivity" /> -->
        <!-- <activity android:name=".util.NetworkActivity" /> -->
        <!-- <activity android:name=".util.SDCardUtilActivity" /> -->
        <activity android:name=".activity.util.SDJumpUtilActivity" />
        <activity android:name=".activity.util.SDTimerUtilActivity" />
        <activity android:name=".activity.util.SDTransitionUtilActivity" />
        <activity android:name=".activity.util.SDCloseUtilActivity" />
        <activity android:name=".activity.util.SDAppUtilActivity" />
        <activity android:name=".activity.util.SDDateUtilActivity" />
        <activity android:name=".activity.util.SDNumberUtilActivity" />
        <activity android:name=".activity.util.SDRegexUtilActivity" />
        <activity android:name=".activity.util.SDLogUtilActivity" />
        <activity android:name=".activity.util.SDMathActivity" />
        <activity android:name=".activity.util.SDSPUtilActivity" />
        <activity android:name=".activity.util.SDObjectUtilActivity" />
        <activity android:name=".activity.util.SDFormatUtilActivity" />
        <activity android:name=".activity.util.SDStringUtilActivity" />
        <activity android:name=".activity.util.SDDeviceUtilActivity" />
        <activity android:name=".activity.util.SDStatusBarUtlActivity" />
        <activity
            android:name=".activity.util.SDScreenUtilActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.util.SDNetWorkUtilActivity" />
        <activity android:name=".activity.util.SDCleanUtilActivity" />
        <activity android:name=".activity.util.SDKeyBoardUtilActivity" />
        <activity android:name=".activity.view.SDLoadingViewActivity" />
        <activity android:name=".activity.widget.SDShapeWidgetActivity" />
        <activity android:name=".activity.widget.SDImageViewActivity" />
        <activity android:name=".activity.widget.SDAvatarListLayoutActivity" />
        <activity android:name=".activity.util.SDCacheUtilActivity" />
        <activity android:name=".activity.widget.SDEditTextWidgetActivity" />
        <activity android:name=".activity.view.SDRankingActivity" />
        <activity android:name=".activity.view.SDStepViewActivity" />
        <activity android:name=".activity.util.SDDataUtilActivity" />
        <activity android:name=".activity.util.SDProcessUtilActivity" />
        <activity android:name=".activity.util.SDFileUtilActivity" />
        <activity android:name=".activity.util.SDStorageUtilActivity" />
        <activity android:name=".activity.widget.SDSpecialWidgetActivity" />
        <activity android:name=".activity.view.SDDialogViewActivity" />
        <activity android:name=".TestAttrActivity" />
        <activity android:name=".activity.widget.SDTextViewActivity" />
        <activity android:name=".activity.widget.SDTitleLayoutWidgetActivity" />
        <activity android:name=".activity.util.SDPhotoUtilsActivity" />
        <activity android:name=".activity.util.SDBitmapUtilActivity" />
        <activity android:name=".activity.widget.SDFlowTagLayoutActivity"></activity>
    </application>

</manifest>