<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siberiadante.utilsample">

    <application
        android:name=".UtilSampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".activity.ActivityUtilActivity" />
        <!-- <activity android:name=".util.AppActivity" /> -->
        <!-- <activity android:name=".util.BitmapUtilActivity" /> -->
        <!-- <activity android:name=".util.DateUtilActivity" /> -->
        <!-- <activity android:name=".util.EncryptionActivity" /> -->
        <!-- <activity android:name=".util.NetworkActivity" /> -->
        <!-- <activity android:name=".util.SDCardUtilActivity" /> -->
        <activity android:name=".activity.JumpUtilActivity" />
        <activity android:name=".activity.TimerUtilActivity"></activity>
    </application>

</manifest>